.browseMain {
  background-color: #0e0e0e;
  overflow-y: hidden;
}

.browseMain * {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.loadedContent {
  position: relative;
}

@-webkit-keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes removeOverview {
  0% {
    max-height: auto;
  }
  100% {
    max-height: 0px;
  }
}

@keyframes removeOverview {
  0% {
    max-height: auto;
  }
  100% {
    max-height: 0px;
  }
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes etator {
  from {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  to {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes etator {
  from {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  to {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

.loadingScreen {
  height: 100%;
  width: 100%;
  background-color: black;
  position: absolute;
  z-index: 999;
  top: 0;
}

.preloader {
  display: inline-block;
  border-radius: 50%;
  position: absolute;
  -webkit-animation: rotate 0.7s linear infinite;
          animation: rotate 0.7s linear infinite;
  background: -webkit-gradient(linear, left top, right top, color-stop(40%, black), color-stop(53%, red));
  background: linear-gradient(90deg, black 40%, red 53%);
  top: 30%;
  left: 40%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.preloader div {
  position: relative;
  padding: 7vw;
  border-radius: 50%;
  -webkit-animation: rotate 0.7s linear infinite;
          animation: rotate 0.7s linear infinite;
  animation-direction: reverse;
  z-index: 3;
}

.preloader img {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 3;
  width: 50%;
}

.preloader::after {
  content: " ";
  background: black;
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  border-radius: 50%;
  margin: 4px;
}

.browseMain-headerContainer {
  -webkit-animation: fade-in 0.5s linear;
          animation: fade-in 0.5s linear;
  position: relative;
  width: 100%;
  height: 40vh;
}

.headerContainer-actionsButtons {
  position: absolute;
  z-index: 3;
  color: white;
  bottom: 35%;
  right: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.headerContainer-actionsButtons span {
  background-color: rgba(51, 51, 51, 0.6);
  padding: 0.4vw 3vw 0.4vw 0.8vw;
  height: 100%;
  border-left: 3px solid white;
  font-size: 1.5vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 1vw;
}

.headerContainer-actionsButtons div {
  border: 1px solid white;
  border-radius: 50%;
  height: 3vw;
  width: 3vw;
  min-width: 27px;
  min-height: 27px;
  padding: 7px;
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.headerContainer-actionsButtons div:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.headerContainer-actionsButtons svg {
  height: 100%;
  width: 100%;
}

.headerContainer-posterContainer {
  position: relative;
  width: 100%;
  height: 50vh;
  overflow: hidden;
}

.headerContainer-posterContainer video {
  top: 50%;
  left: 50%;
  z-index: 0;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  height: 85vh;
  -o-object-fit: fill;
     object-fit: fill;
}

.headerContainer-posterContainer > img {
  -webkit-transition: opacity 0.4s ease;
  transition: opacity 0.4s ease;
  top: 0;
  left: 0;
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: fill;
     object-fit: fill;
}

.headerContainer-posterContainer iframe {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 85vh;
  pointer-events: none;
  z-index: 0;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.browseMain-navbarContainer {
  position: fixed;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  top: 0%;
  width: 100%;
  z-index: 4;
  height: 70px;
  padding: 20px 4%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: transparent;
}

.browseMain-navbarContainer > svg {
  width: 10vw;
  fill: #E50914;
  min-width: 45px;
  cursor: pointer;
}

.offSet {
  background-color: #141414;
}

.browseMain-navbarUtilities {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.browseMain-navbarUtilities svg {
  fill: transparent;
  height: 2vw;
  width: 2vw;
  max-width: 30px;
  max-height: 30px;
  min-width: 15px;
  min-height: 15px;
}

.browseMain-navbarUtilities svg:hover {
  cursor: pointer;
}

.browseMain-navbarUtilities .triangle {
  visibility: hidden;
  position: absolute;
  top: 36px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  right: 2.8px;
  display: block;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid white;
}

.browseMain-navbarUtilities .triangle:hover {
  visibility: visible;
}

.browseMain-navbarUtilities .iconContainer {
  margin-right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.browseMain-navbarUtilities .recentNotifications {
  -webkit-transition: all 0.125s ease-out;
  transition: all 0.125s ease-out;
  visibility: hidden;
  position: absolute;
  top: 44px;
  right: -4px;
  border: solid 1px rgba(255, 255, 255, 0.15);
  border-top: solid 2px white;
  cursor: default;
  min-width: 410px;
  min-height: 110px;
  background-color: rgba(0, 0, 0, 0.87);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.browseMain-navbarUtilities .recentNotifications p {
  color: #6d6d6d;
  text-align: center;
}

.browseMain-navbarUtilities .recentNotifications:hover {
  background-color: black;
  visibility: visible;
}

.browseMain-navbarUtilities .bellContainer:hover .recentNotifications {
  visibility: visible;
}

.browseMain-navbarUtilities .bellContainer:hover .triangle {
  visibility: visible;
}

.browseMain-navbarUtilities .bell {
  fill: white;
}

.browseMain-navbarUtilities .searchContainer {
  padding-top: 3px;
}

.browseMain-navbarUtilities .imgContainer {
  height: 32px;
  width: 32px;
  margin-right: 20px;
}

.browseMain-navbarUtilities .imgContainer img {
  border-radius: 4px;
}

.browseMain-navbarUtilities .accountMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.browseMain-navbarUtilities .accountMenu:hover {
  cursor: pointer;
}

.browseMain-navbarUtilities .accountMenu:hover .triangleMenu {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.browseMain-navbarUtilities .accountMenu:hover .triangleDropDown {
  visibility: visible;
}

.browseMain-navbarUtilities .accountMenu:hover .accountMenu-dropDown {
  visibility: visible;
}

.browseMain-navbarUtilities .triangleMenu {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  display: block;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid white;
}

.browseMain-navbarUtilities .triangleDropDown {
  -webkit-transition: all 0.125s;
  transition: all 0.125s;
  visibility: hidden;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  position: absolute;
  right: 40px;
  top: 44px;
}

.browseMain-navbarUtilities .triangleDropDown:hover {
  display: block;
}

.accountMenu-dropDown {
  -webkit-transition: all 0.125s;
  transition: all 0.125s;
  visibility: hidden;
  z-index: 10;
  width: 181px;
  position: absolute;
  right: 0;
  top: 52px;
  margin-left: 0;
  padding: 0;
  background-color: rgba(0, 0, 0, 0.9);
  color: #fff;
  line-height: 21px;
  border: solid 1px rgba(255, 255, 255, 0.15);
  cursor: default;
}

.accountMenu-dropDown:hover {
  display: block;
}

.accountMenu-dropDown ul:nth-child(1) {
  padding: 0;
  padding-left: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.6);
  margin-bottom: 20px;
}

.accountMenu-dropDown ul:nth-child(1) p {
  font-weight: 500;
}

.accountMenu-dropDown ul:nth-child(2) {
  padding: 5px 0px 0px 10px;
  border-top: 1px solid rgba(128, 128, 128, 0.6);
  margin-top: 15px;
}

.accountMenu-dropDown ul:nth-child(2) p {
  font-weight: 700;
}

.accountMenu-dropDown li {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}

.accountMenu-dropDown li p {
  margin: 0;
  font-size: 13px;
  border: 1px solid transparent;
}

.accountMenu-dropDown li p:hover {
  border-bottom: 1px solid white;
}

.accountMenu-dropDown img {
  margin: 0;
  margin-right: 10px;
  vertical-align: middle;
  height: 32px;
  width: 32px;
  border-radius: 4px;
}

.browseMain-filler1 {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 46%;
  height: 100%;
  background: linear-gradient(77deg, rgba(0, 0, 0, 0.6) 0, rgba(0, 0, 0, 0) 85%);
}

.browserMain-infoContainer {
  width: 100%;
  height: 100%;
  z-index: 3;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.browserMain-infoContainer > div {
  width: 100%;
  height: 100%;
  position: relative;
}

.browserMain-info {
  position: absolute;
  top: 30%;
  color: white;
  min-width: 35%;
  max-width: 40%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  padding-left: 4%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.browserMain-info img {
  height: 10vw;
  max-height: 700px;
  -webkit-transition-delay: 2s;
          transition-delay: 2s;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  -webkit-transform-origin: left bottom 0px;
          transform-origin: left bottom 0px;
}

.browserMain-info h3 {
  margin: 0;
  font-size: 4vw;
  margin-bottom: 10px;
  -webkit-transition-delay: 2s;
          transition-delay: 2s;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  -webkit-transform-origin: left bottom 0px;
          transform-origin: left bottom 0px;
  text-align: center;
}

.browserMain-info p {
  display: inline;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  /* number of lines to show */
  -webkit-box-orient: vertical;
  max-height: 600px;
  -webkit-transition: all 3s;
  transition: all 3s;
}

.browserMain-info div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.browserMain-info button {
  padding: 0.8vw 3vw;
  border-radius: 4px;
  font-size: 1.4vw;
  font-weight: 700;
  border: 0;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  word-break: break-word;
  white-space: nowrap;
}

.browserMain-info svg {
  margin-right: 0.5vw;
  display: inline-block;
  width: 2vw;
  height: 2vw;
  max-width: 30px;
  max-height: 30px;
  min-width: 15px;
  min-height: 15px;
}

.browserMain-info button:before {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  content: '';
  display: none;
  height: 100%;
  width: 100%;
  border: 2px solid white;
  border-radius: 8px;
  padding: 2px;
  position: absolute;
  left: -4px;
  top: -4px;
}

.browserMain-info .playButton {
  color: black;
  background-color: white;
  margin-right: 10px;
}

.browserMain-info .playButton:hover {
  background-color: rgba(255, 255, 255, 0.75);
}

.browserMain-info button:focus:before {
  display: block;
}

.browserMain-info .moreInfoButton {
  color: white;
  background-color: rgba(109, 109, 110, 0.7);
}

.browserMain-info .moreInfoButton:hover {
  background-color: rgba(109, 109, 110, 0.4);
}

.browseMain-SectionsContainer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: transparent;
  position: relative;
  z-index: 3;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(70%, rgba(20, 20, 20, 0.9)), to(rgba(20, 20, 20, 0)));
  background: linear-gradient(0deg, rgba(20, 20, 20, 0.9) 70%, rgba(20, 20, 20, 0) 100%);
}

.browseMain-Section {
  width: 100%;
  color: white;
  overflow-x: hidden;
  margin-bottom: 3vw;
}

.browseMain-Section h2 {
  font-size: 1.5vw;
  margin-left: 4%;
}

.ww {
  display: inline-block;
  width: 25%;
}

.section-MoviesContainer {
  overflow-x: visible;
  white-space: nowrap;
  position: relative;
}

.section-MoviesContainer .MovieContainer-hiddenInformation {
  position: absolute;
  bottom: -30%;
  background-color: red;
  height: 30%;
  width: 100%;
  left: 0;
}

.section-MoviesContainer:hover .section-Arrow {
  visibility: visible;
}

.section-MoviesContainer .section-Arrow {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 3;
  top: 0;
  height: 100%;
  background: rgba(20, 20, 20, 0.5);
  width: 4%;
}

.section-MoviesContainer .section-Arrow:hover {
  background: rgba(20, 20, 20, 0.7);
}

.section-MoviesContainer .section-Arrow:hover svg {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.section-MoviesContainer .section-ArrowRight {
  right: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.section-MoviesContainer .section-ArrowLeft {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  left: 0;
}

.section-MoviesContainer .section-ArrowLeft svg {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.section-MoviesContainer .section-ArrowLeft:hover svg {
  -webkit-transform: scale(1.2) rotate(180deg);
          transform: scale(1.2) rotate(180deg);
}

.section-MoviesContainer svg {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  width: 4vw;
  height: 4vw;
  pointer-events: none;
  max-width: 20px;
  max-height: 20px;
}

.section-MoviesContainer .movies {
  padding: 0% 4%;
}

.section-MoviesContainer .section-MovieContainer {
  width: 25%;
  display: inline-block;
  padding: 0 2px;
  overflow: hidden;
}

.section-MoviesContainer .MovieContainer-posters {
  border-radius: 4px;
  width: 100%;
  padding: 28.125% 0;
  position: relative;
}

.section-MoviesContainer .MovieContainer-posters:hover {
  cursor: pointer;
}

.section-MoviesContainer .MovieContainer-posters div:not(.MovieContainer-hiddenInformation) {
  position: absolute;
  top: 0;
  left: 0;
}

.section-MoviesContainer img {
  border-radius: 4px;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.PreviewMain {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}

.PreviewMain-Dark {
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.7);
}

.grow {
  -webkit-transform: scaleX(1.5) scaleY(1.7) !important;
          transform: scaleX(1.5) scaleY(1.7) !important;
}

.browseMain-PreviewContainer {
  position: absolute;
  z-index: 999;
  overflow: hidden;
  -webkit-transform: scale(1);
          transform: scale(1);
  border-radius: 4px;
  min-width: 50px;
  min-height: 50px;
  -webkit-transition: 0.3s ease, -webkit-transform;
  transition: 0.3s ease, -webkit-transform;
  transition: transform, 0.3s ease;
  transition: transform, 0.3s ease, -webkit-transform;
  cursor: pointer;
}

.browseMain-PreviewContainer .PreviewContainer-PosterContainer {
  border-radius: 4px;
  position: relative;
}

.browseMain-PreviewContainer img {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;
}

.browseMain-PreviewContainer .player {
  -webkit-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out;
}

.browseMain-PreviewContainer iframe {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 85vh;
  pointer-events: none;
  z-index: 1;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.browseMain-PreviewContainer .soundControl {
  opacity: 0.6;
  position: absolute;
  z-index: 2;
  bottom: 5%;
  right: 4%;
  fill: white;
  -webkit-transition: opacity 0.5s ease-out;
  transition: opacity 0.5s ease-out;
}

.browseMain-PreviewContainer .soundControl:hover {
  opacity: 1;
}

.browseMain-PreviewContainer .soundControl svg {
  width: 65%;
  height: 65%;
}

.PreviewContainer-HiddenContainer {
  background-color: #181818;
  color: white;
  width: 100%;
  position: relative;
  height: 60%;
  z-index: 3;
  padding: 10px 0.8vw;
}

.PreviewContainer-HiddenContainer > div {
  margin-bottom: 7px;
}

.PreviewContainer-HiddenContainer .HiddenContainer-ActionButtons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.PreviewContainer-HiddenContainer .Reversed {
  -webkit-transform: rotateZ(180deg);
          transform: rotateZ(180deg);
}

.PreviewContainer-HiddenContainer .ActionButtons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.PreviewContainer-HiddenContainer .Right svg {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  width: 30%;
  margin-right: -2.4px;
}

.PreviewContainer-HiddenContainer .ActionButtons-Play {
  background-color: white;
  fill: black;
}

.PreviewContainer-HiddenContainer svg {
  width: 65%;
  z-index: 3;
}

.PreviewContainer-HiddenContainer .HiddenContainer-Info {
  width: 100%;
  font-size: 10px;
  font-weight: 600;
}

.PreviewContainer-HiddenContainer span {
  margin-right: 6px;
}

.PreviewContainer-HiddenContainer .Info-VoteAverage {
  color: #46D369;
}

.PreviewContainer-HiddenContainer .Info-AgeRating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 0.4vw;
  display: inline-block;
  border: solid 1px rgba(255, 255, 255, 0.4);
}

.PreviewContainer-HiddenContainer .HiddenContainer-Genres {
  font-size: 10px;
  font-weight: 600;
}

.PreviewContainer-HiddenContainer .HiddenContainer-Genres span:not(:first-of-type):before {
  color: #646464;
  content: "\2022";
  display: inline-block;
  padding-right: .5vw;
  font-size: 15px;
}

.ActionButtons-Button {
  margin-right: 5px;
  width: 2vw;
  height: 2vw;
  min-width: 12px;
  min-height: 12px;
  max-width: 25px;
  max-height: 25px;
  border-radius: 50%;
  position: relative;
  background-color: #2A2A2A;
  border: 1px solid rgba(255, 255, 255, 0.7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ActionButtons-Button:hover {
  border: 1px solid white;
}

.PreviewDetailed {
  -webkit-transition-property: min-width,top,-webkit-transform;
  transition-property: min-width,top,-webkit-transform;
  transition-property: transform,min-width,top;
  transition-property: transform,min-width,top,-webkit-transform;
  -webkit-transition-duration: .3s;
          transition-duration: .3s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
  min-width: 918.9px;
  top: 145px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.PreviewDetailed .PreviewContainer-PosterContainer {
  height: 40vh;
}

.PreviewDetailed .posterBackground {
  position: absolute;
  background: -webkit-gradient(linear, left bottom, left top, from(#181818), color-stop(50%, transparent));
  background: linear-gradient(to top, #181818, transparent 50%);
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.PreviewDetailed .ActionButtons {
  position: absolute;
  top: -100%;
}

.PreviewDetailed .ActionButtons-Button {
  width: 3vw;
  height: 3vw;
  min-width: 30px;
  min-height: 30px;
  max-width: 40px;
  max-height: 40px;
  margin-right: 10px;
}

.PreviewDetailed .ActionButtons-Play {
  width: 180px;
  height: 50px;
  background-color: white;
  border-radius: 4px;
  color: black;
  padding: 8px;
  font-size: 1.8vw;
  font-weight: 600;
  max-width: none;
  max-height: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.PreviewDetailed .ActionButtons-Play svg {
  width: 30%;
}

.browse-WatchContainer {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.browse-WatchContainer .player {
  width: 100%;
  height: 100%;
  position: relative;
}

.browse-WatchContainer iframe {
  pointer-events: none;
}

.WatchContainer-ControlsContainer {
  width: 100%;
  bottom: 0;
  position: absolute;
}

.ControlsContainer-TimeControl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.ControlsContainer-TimeControl .TimeControl-BarContainer {
  width: 90%;
  height: 6px;
  background-color: #676767;
  position: relative;
  cursor: pointer;
}

.ControlsContainer-TimeControl .BarContainer-BufferedTime {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  min-height: 100%;
  background-color: rgba(255, 255, 255, 0.3);
  z-index: 2;
}

.ControlsContainer-TimeControl .BarContainer-PlayedTime {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  min-height: 100%;
  background-color: #E50914;
  z-index: 3;
}

.ControlsContainer-TimeControl .BarContainer-Thumb {
  width: 25px;
  height: 25px;
  background-color: #E50914;
  border-radius: 50%;
  top: -150%;
  position: absolute;
  z-index: 4;
}

.ControlsContainer-TimeControl label {
  color: white;
  font-weight: 600;
  font-size: 2vw;
}

.ControlsContainer-Actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100px;
  padding: 0px 2%;
}

.ControlsContainer-Actions > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ControlsContainer-Actions svg {
  width: 42px;
  height: 42px;
  fill: white;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  position: relative;
  cursor: pointer;
}

.ControlsContainer-Actions svg:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.ControlsContainer-Actions svg tspan {
  font-weight: 600;
}

.ControlsContainer-Actions .ControlsContainer-VolumeControl {
  position: relative;
}

.ControlsContainer-Actions .ControlsContainer-VolumeControl .VolumeControl-VolumeBar {
  width: 30px;
  height: 175px;
  background-color: #272727;
  position: absolute;
  top: 0%;
  left: 50%;
  -webkit-transform: translate(-50%, -100%);
          transform: translate(-50%, -100%);
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 4;
}

.ControlsContainer-Actions .ControlsContainer-VolumeControl .VolumeBar-Inside {
  position: relative;
  background-color: #5a5a5a;
  width: 35%;
  height: 75%;
  cursor: pointer;
}

.ControlsContainer-Actions .ControlsContainer-VolumeControl .VolumeBar-Thumb {
  background-color: #E50914;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 20%);
          transform: translate(-50%, 20%);
}

.ControlsContainer-Actions .ControlsContainer-VolumeControl .VolumeBar-Progress {
  position: absolute;
  width: 100%;
  background-color: #E50914;
  bottom: 0;
}

.ControlsContainer-Actions .ControlsContainer-VolumeControl svg {
  margin: 10px 0px;
}

.ControlsContainer-Actions .VelocimeterContainer {
  position: relative;
}

.ControlsContainer-Actions .Velocimeter {
  width: 450px;
  height: 100px;
  position: absolute;
  top: 0%;
  left: 50%;
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transform: translate(-77%, -100%);
          transform: translate(-77%, -100%);
  background-color: #272727;
  padding: 15px 20px;
  padding-bottom: 0px;
  color: white;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.ControlsContainer-Actions .Velocimeter h3 {
  margin: 0;
  font-weight: 600;
  font-size: 16px;
}

.ControlsContainer-Actions .Velocimeter .VelocimeterOptions {
  width: 100%;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ControlsContainer-Actions .Velocimeter .VelocimeterOptions > div {
  display: inline-block;
  width: 12.5%;
}

.ControlsContainer-Actions .Velocimeter .VelocimeterOptions > div .OptionLine {
  background-color: #cccccc;
  height: 1px;
  position: relative;
}

.ControlsContainer-Actions .Velocimeter .VelocimeterOptions > div .OptionLine:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 0%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 50%;
  width: 10px;
  height: 10px;
  background-color: #cccccc;
}

.ControlsContainer-Actions .Velocimeter .VelocimeterOptions > div p {
  text-align: left;
  font-size: 15px;
  font-weight: 600;
  color: #cccccc;
}

.ControlsContainer-Actions .Velocimeter .VelocimeterOptions > div:not(.Option5):not(.Option1) {
  width: 25%;
}

.ControlsContainer-Actions .Velocimeter .VelocimeterOptions > div:not(.Option5):not(.Option1) .OptionLine:after {
  left: 50%;
}

.ControlsContainer-Actions .Velocimeter .VelocimeterOptions > div:not(.Option5):not(.Option1) p {
  text-align: center;
}

.ControlsContainer-Actions .Velocimeter .VelocimeterOptions .Option5 .OptionLine:after {
  left: 100%;
}

.ControlsContainer-Actions .Velocimeter .VelocimeterOptions .Option5 p {
  text-align: right;
}

.ControlsContainer-Actions .Velocimeter .VelocimeterOptions .clickedOption .OptionLine:after {
  background-color: white;
  width: 15px;
  height: 15px;
}

.ControlsContainer-Actions .Velocimeter .VelocimeterOptions .clickedOption p {
  font-size: 15px;
  color: white;
}

@media (min-width: 1100px) {
  .browseMain-headerContainer {
    height: 80vh;
  }
  .accountMenu-dropDown ul:nth-child(2) {
    border-top: none;
    margin-top: 0px;
    padding-top: 0px;
  }
  .headerContainer-posterContainer {
    height: 100vh;
  }
  .headerContainer-posterContainer video {
    height: 135vh;
  }
  .headerContainer-posterContainer iframe {
    height: 135vh;
  }
  .section-MoviesContainer .section-Arrow {
    width: 4%;
  }
  .section-MoviesContainer .section-MovieContainer {
    width: 16.66%;
  }
  .PreviewContainer-HiddenContainer .HiddenContainer-Info {
    font-size: 12px;
  }
  .PreviewContainer-HiddenContainer .HiddenContainer-Genres {
    font-size: 12px;
  }
}

@media (max-width: 600px) {
  .browseMain-headerContainer {
    height: 20vh;
  }
  .headerContainer-posterContainer {
    height: 30vh;
  }
  .headerContainer-posterContainer video {
    height: 65vh;
  }
  .headerContainer-posterContainer iframe {
    height: 65vh;
  }
  .browserMain-info {
    min-width: 50%;
    top: 40%;
    left: 50%;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-bottom: 100px;
    -webkit-transform: translate(-100%, 0%);
            transform: translate(-100%, 0%);
  }
  .browserMain-info img {
    -webkit-transform-origin: left bottom 0px;
            transform-origin: left bottom 0px;
  }
  .browserMain-info button {
    font-size: 10px;
    padding: 6px 20px;
  }
  .browserMain-info h3 {
    font-size: 20px;
  }
  .browserMain-info p {
    -webkit-transition: none;
    transition: none;
    max-height: 0px !important;
    margin: 10px;
  }
  .browseMain-navbarUtilities .recentNotifications {
    min-width: 270px;
    min-height: 75px;
  }
  .section-MoviesContainer .section-MovieContainer {
    width: 50%;
  }
  .browseMain-Section h2 {
    font-size: 12px;
  }
  .PreviewContainer-HiddenContainer .HiddenContainer-Info {
    font-size: 8px;
  }
  .PreviewContainer-HiddenContainer .HiddenContainer-Genres {
    font-size: 8px;
  }
}
/*# sourceMappingURL=BrowseMain-Styles.css.map */